.question-box {
    width: 100%;
    & button {
        width: 100%;
        border: 1px solid #1976d2;
        text-align: left;
        margin-bottom: 20px;
        overflow: hidden;
        color: #1976d2;
    }
}
