.title {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.disc-logo {
    display: block;
    margin: 5vh auto;
    width: 30vw;
}

.tip {
    font-size: 1.6vw;
    color: #777;
    margin: 3vh 0;
}