.content {
    & .title {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
    
    & .disc-logo {
        display: block;
        margin: 20px auto;
        width: 30vw;
    }
    
    & .tip {
        font-size: 1.6vw;
        color: #777;
        margin: 20px 0;
    }
}
